body {
    padding: 10px 300px;
    background-color: rgb(238, 238, 238);
    font-size: 23px;
}

h1,
h2 {
    font-family: Georgia, serif;
}

.page>header {
    border-bottom: 2px solid black;
}

.page>header p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

.page main article section img:nth-child(1) {
    float: right;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    border: 3px solid black;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.25);
}

.page main article section img:nth-child(2) {
    float: left;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.25);
}

.page main article section:nth-child(3) p:nth-child(3) {
    display: inline-block;
    width: 50%;
}

.page main article section blockquote {
    display: inline-block;
    width: 40%;
    font-family: Georgia, serif;
    border-left: 1px solid gray;
    padding: 10px;
}

@media (max-width: 425px) {
    body {
        padding: 10px 50px;
    }

    .page main article section:nth-child(3) p:nth-child(3) {
        display: block;
        width: unset;
    }

    .page main article section blockquote {
        display: block;
        width: unset;
    }
}

/* Tablet */

@media (min-width: 426px) and (max-width: 768px) {
    body {
        padding: 10px 50px;
    }

    .page main article section:nth-child(3) p:nth-child(3) {
        width: 40%;
    }

    .page main article section blockquote {
        width: 40%;
    }
}

/* Laptop */

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        padding: 10px 50px;
    }

    .page main article section:nth-child(3) p:nth-child(3) {
        width: 40%;
    }

    .page main article section blockquote {
        width: 40%;
    }
}

/* Specific font size for diffrent width */
@media (max-width: 500px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 16px;
    }
}

@media (max-width: 1300px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 1800px) {
    body {
        font-size: 21px;
    }
}